body {
    background: rgb(248, 248, 252);
}

.header-cart span {
    cursor: pointer;
}

.header-cart span:hover {
        color: #000;
}

.content-cart {
    width: 80%;
    margin: 0 auto;
    height: auto;
}

.content-cart-top {
    margin: 20px 0;
    display: flex;
    width: 100%;
}

.content-cart-top a {
    font-size: 20px;
    font-weight: bold;
    color:#000;
}
.content-cart-top a:hover{
    color:#d70018;
}
.content-cart-top > span {
        margin: 0 20px;
        font-size: 20px;
        font-weight: bold;
}

.content-cart-content {
    width: 100%;
    display: flex;
    margin: 20px 0;
}

.content-cart-content-left {
    width: 70%;
    margin-right: 20px;
}

.content-cart-content-text {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.content-cart-content-table {
    width: 100%;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    height: auto;
    padding: 10px;
    margin-top: 20px;
}

.cart-content-table-head {
    margin: 20px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(234, 234, 234);
}

.cart-content-total-price {
    font-size: 20px;
    font-weight: 700;
}

.content-cart-content-right {
    width: 30%;
    margin: 0 auto;
    height: auto;
}

.cart-content-table-product {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
    border-bottom: 1px solid rgb(234,234,234);
}

.img-product-cart {
    width: 25%;
    text-align: left;
}

.name-product-cart {
    width: 25%;
    text-align: left;
}

.name-product {
    font-weight: 700;
}

.quantity-product-cart {
    width: 25%;
    text-align: center;
}

    .quantity-product-cart input {
        width: 40px;
        height: 30px;
        text-align: center;
    }

    .quantity-product-cart > span {
        margin-left: 10px;
        cursor: pointer;
    }
.quantity-product-cart >span:hover{
    color:#d70018;
}
.price-product-cart {
    width: 25%;
    text-align: right;
}

.img-product-cart img {
    width: 100px;
    height: 100px;
}

.content-cart-content-right-bill-title {
    width: 100%;
    text-align: center;
}

.content-cart-content-right-bill {
    width: 100%;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    height: auto;
    margin-top: 50px;
    padding: 10px;
}

.content-bill {
    width: 100%;
    display: flex;
    margin: 10px 0;
    justify-content: space-between;
}

.content-bill-button {
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

    .content-bill-button button {
        width: 150px;
        height: 40px;
        color: #fff;
        background: #d70018;
        cursor: pointer;
        border: 1px solid #000;
        margin: 20px 0;
    }

        .content-bill-button button:hover {
            background: #000;
        }

.temp-bill {
    font-size: 17px;
    color: #555555;
}

#temp-bill {
    font-size: 17px;
    color: #555555;
}

.total-bill {
    font-size: 20px;
    font-weight: 700;
}

#total-bill {
    font-size: 20px;
    font-weight: bold;
    color: #d70018;
}

.content-cart-content-continuebuy {
    width: 100%;
    align-content: center;
    justify-content: center;
    text-align: center;
    height: auto;
    margin: 30px 0;
}

.content-cart-content-continuebuy button {
    width: 200px;
    height: 40px;
    color: #fff;
    background: #d70018;
    cursor: pointer;
    border: 1px solid #000;
}
.content-cart-content-continuebuy button:hover{
    background: #000;
}
.content-card-recommend {
    width: 100%;
    margin: 50px 0;
}
.content-card-recommend-title{
    width: 80%;
    margin: 20px auto;
}
.content-card-recommend-title h2{
    font-size: 25px;
    font-weight: bold;
}
.content-card-recommend-product{
    width: 80%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.content-card-recommend-product span{
    margin: 0 20px;
    font-size: 25px;
    cursor: pointer;
}
.content-card-recommend-product span:hover{
    color:#d70018;
}
.content-cart-content-text p {
    cursor: pointer;
    font-size: 20px;
}
.content-cart-content-text p:hover{
    color:#d70018;
    text-decoration: underline;
}
