*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
.wrapper{
    width:100%;
    height:auto;
}
.header{
    width: 100%;
    height:150px;
    display: flex;
    background: #d70018;
}
i.fa-solid.fa-chevron-down {
    margin: 0 10px;
}
.sub-menu ul li{
    display: block;
}
.header-left{
    width: 30%;
    text-align: center;
    height: 150px;
}
.header-left h2{
    color: #ffffff;
    font-size:30px;
    line-height: 150px;
}
.header-right{
    width:70%;
    height: 150px;
}
.header-right-top{
    width:100%;
    height: 50px;
    text-align: right;
}
.main-menu{

    list-style: none;
    line-height: 50px;
}
.main-menu>li{
    display: inline-block;
    position: relative;
    margin: 0 30px;
}
.main-menu>li>a{
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
}
.main-menu>li>a:hover{
    color: #000;
    transition: 0.3s ease-in-out;
}
.header-right-bottom{
    width: 100%;
    height:100px;
    display: flex;
}
.sub-menu{
    position: absolute;
    width: 250px;
    background: #d70018;
    text-align: left;
    display: none;
}
.sub-menu li{
    list-style: none;
}
.sub-menu li a{
    color: #ffffff;
    display: block;
    border-top: 1px solid #ccc;
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
    text-indent: 10px;
}
.main-menu>li:hover .sub-menu{
    display: block;
    transition: ease-in 0.35s;
    -moz-transition: ease-in 0.35s;
    -webkit-transition: ease-in 0.35s;
}
.sub-menu li a:hover{
    color:#000;
    transition: ease-in 0.35s;
    -moz-transition: ease-in 0.35s;
    -webkit-transition: ease-in 0.35s;
}
.header-right-bottom ul{
    display: flex;
    flex-wrap: flex;
    color: #ffffff;
    justify-content: space-around;
    list-style: none;
    align-items: center;
}
.header-right-bottom-content{
    width: 100%;
    height: auto;
}
.header-search{
    height: 40px;
    width:640px;
    display: flex;
    background: #f2f2f2;
    border-radius: 5px;
}
.header-search input{
    height: 100%;
    width: 600px;
    border: 1px solid #cccccc;
    outline: none;
    padding: 0 10px;
    color:#000;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
}
.header-search .search-icon{
    height: 100%;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border:1ox solid #cccccc;
    border-radius: 0 5px 5px 0;
}
.header-search .search-icon span{
    color: #222222;
    font-size: 18px;
}
.header-cart a{
    color: #fff;
    cursor: pointer;
}
.header-cart a:hover{
    color: #000;
}
.banner{
    width: 100%;
    height: 400px;
}
.banner img{
    width: 100%;
    height:100%;
}
.banner-dot{
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.slider-dot{
    width: 20px;
    height: 20px;
    margin: 0 10px;
    border: 1px solid #555555;
    background-color: #cccccc;
    border-radius: 50%;
    cursor: pointer;
}
.slider-dot:hover{
    background: #555555;
    transition: ease-in-out 0.3s;
}
.content{
    width: 100%;
    height: auto;
}
.products{
    width: 80%;
    margin: 20px auto;
}
.products h2{
    font-size: 25px;
    color: #333;
}
.products-nav{
    width: 100%;
}
.products-nav ul{
    list-style: none;
    text-align: right;
    margin: 20px 0;
}
.products-nav ul li{
    display: inline-block;
    margin: 0 10px;
}
.products-nav ul li a{
    padding: 10px;
    color:#333;
    font-size: 20px;
    font-weight: bold;
}
.products-nav ul li a:hover{
    color:#d70018;
    transition: 0.5s ease-in;
}
.products-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0 0 0;
}
.product-card{
    transition-duration: 0.3s;
    text-align: center;
    width: calc((100% - 4rem) / 4);
    height: auto;
    min-height: 400px;
    float: left;
    margin: 8px;
    padding: 1rem 1rem 0 1rem;
    overflow: hidden;
    background: #ffffff;
    position: relative;
    border-radius: 1rem;
    -webkit-box-shadow: rgb(60 64 67 / 10%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
    box-shadow: rgb(60 64 67 / 10%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
}
.product-card img{
    width: 100%;
}
.product-card:hover{
    transform: scale(1.05);
}
.top-sale-product{
    width: 80%;
    margin: 20px auto;
}
.top-sale-product h2{
    margin: 20px 0;
    font-size: 25px;
    color:#333;
}
.top-sale-product-wrap {
    width: 100%;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
}
.top-sale-product-wrap span{
    line-height: 400px;
    font-size: 25px;
    margin: 0 20px;
    cursor: pointer;
}
.top-sale-product-wrap span:hover{
    color:#d70018;
}
.product-card button {
    margin-top: 20px;
    border:1px solid #000;
    border-radius: 5px;
    background: #d70018;
    color: white;
    font-weight: bold;
    width: 100px;
    cursor: pointer;
    height: 50px;
}
.product-card button:hover{
    color: #fff;
    transition: 0.3s ease-in-out;
    background: black;
}
.pagination{
    width: 100%;
    height: auto;
    clear: both;
}
.page{
    width: 100%;
    text-align: center;
}
.page ul li{
    margin: 0 10px;
    padding:10px;
    display: inline-block;
}
.page ul li a{
    padding: 10px 15px;
    color: #555555;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #555555;
}
.page ul li a:hover{
    background: #d70018;
    color: #fff;
}
.footer{
    width: 100%;
    height:auto;
    clear: both;
}
.footer-row{
    margin-top: 20px;
    border-top: 5px solid #d70018;
    width: 100%;
    display: flex;
}
.footer-col{
    width: 25%;
    margin: 20px;
}
.footer-col ul{
    list-style: none;
}
.footer-col h3{
    font-size: 30px;
    color:#d70018;
    margin: 20px 0;
    border-bottom: 1px solid black;
}
.footer-col ul li{
    margin: 10px 0;
}
.footer-col ul li a{
    color: #333;
    font-size: 20px;

}
.footer-col ul li a:hover{
    color: #d70018;
}
.fa-facebook, .fa-twitter, .fa-instagram{
    margin-right: 10px;
}